{% load static %}
{% include 'registration/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Voyages</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main>
        <section id="search-flight">
            <h2>Rechercher un Voyage</h2>
            <!-- Formulaire de recherche de voyages -->
            <form action="{% url 'rechercher_voyages' %}" method="GET">
                <!-- Champs de recherche -->
                <label for="depart">Départ:</label>
                <input type="text" id="depart" name="depart" placeholder="Ville de départ">
            
                <label for="destination">Destination:</label>
                <input type="text" id="destination" name="destination" placeholder="Ville de destination">
            
                <!-- Bouton de soumission -->
                <button type="submit">Rechercher</button>
            </form>            
        </section>
        <section id="book-accommodation">
            <h2>Réserver un Hébergement</h2>
            <!-- Formulaire de réservation d'hébergement -->
            <form action="{% url 'reserver_voyage' voyage_id=1 %}" method="POST">
                {% csrf_token %}
                <!-- Champs de réservation -->
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" placeholder="Votre nom">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Votre adresse email">

                <label for="destination">Destination:</label>
                <input type="text" id="destination" name="destination" placeholder="Votre destination">

                <!-- Bouton de soumission -->
                <button type="submit">Réserver</button>
            </form>

            </form>
            
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Gestion des Voyages. Tous droits non réservés.</p>
    </footer>
</body>
</html>
