<header>
  <h1>Gestion des Voyages</h1>
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Accueil</a></li>
      <li><a href="{% url 'rechercher_voyages' %}">Rechercher un Vol</a></li>
      <li>
        <a href="{% url 'reserver_voyage' 1 %}">Réserver un Hébergement</a>
      </li>
      <li><a href="#">Itinéraire de Voyage</a></li>
      <li><a href="#">Conseils de Voyage</a></li>
    </ul>
    <li><a href="/">Accueil</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Connexion</a></li>
    {% endif %}
  </nav>
</header>
